@font-face {
    font-family: myFont;
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: myFontBold;
    src: url(assets/fonts/static/Inter-Bold.ttf);
}

@font-face {
    font-family: myFontExtraBold;
    src: url(assets/fonts/static/Inter-ExtraBold.ttf);
}

body {
    font-family: myFont;
}

h1  {
    font-family: myFontExtraBold;
}

h2  {
    font-family: myFontBold;
}

.menu {
    position: fixed;
    z-index: 1000;
}

/* 
.btn {
    font-family: myFontBold;
} */